div.post-card {
    width: 90%;
    margin: 0 5%;
    margin-bottom: 50px;
    img {
        width: 100%;
        border-radius: 10px;
    }
    div.post-card-action {
        display: flex;
        width: 100%;
    }
    
}