div.card-comment {
    display: flex;
    width: 100%;
    
    &-content {
        margin-left: 20px;
        
        background: red;
    }
    margin: 20px;
    &-delete {
        
        background: blue;
    }
}